<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
  <title>Shopping List Check Off</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
  <script src="app.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  

  <style>
  .emptyMessage {
    font-weight: bold;
    color: red;
    font-size: 1.2em;
  }
  li {
    margin-bottom: 7px;
    font-size: 1.2em;
  }
  li > button {
    margin-left: 6px;
  }
  button > span {
    color: green;
  }
  
  .col-md-6 {
    border: 1px dashed;
    height: 285px;
  }
  </style>
</head>
<body >
  <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">

      <!-- To Buy List -->
      <div class="col-md-6 toBuy" ng-controller="ToBuyController as tb">
        <h2>To Buy:</h2>
        <ul ng-repeat="item in tb.buyList">
          <li>Buy {{item.quantity}} {{item.name}} <button class="btn btn-default" ng-click="tb.markBought($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
        </ul>
        <div class="emptyMessage" ng-if="tb.buyList.length == 0">Everything is bought!</div>
      </div>

      <!-- Already Bought List -->
      <div class="col-md-6" ng-controller="AlreadyBoughtController as ab">
        <h2>Already Bought:</h2>
        <ul ng-repeat="item in ab.alreadyBoughtList">
          <li>Bought {{item.quantity}} {{item.name}}</li>
        </ul>
        <div class="emptyMessage" ng-if="ab.alreadyBoughtList.length == 0">Nothing bought yet.</div>
      </div>
    </div>
  </div>

</body>
</html>
